@font-face {
  font-family: 'Dosis';
  font-weight: 400;
  src: local('Dosis'),
    url(./assets/fonts/dosis/Dosis-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  src: local('OpenSans'),
    url(./assets/fonts/openSans/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
  src: local('OpenSans'),
    url(./assets/fonts/openSans/OpenSans-Bold.ttf) format('truetype');
}
